<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : blog.title}) %>
<div class="container">
    <p class="lead text-center"> <%= blog.snippet %> </p>
    <pre wrap="soft" class="text-justify"> <%= blog.content %> </pre>
    
</div>
<%- include('../partials/tail.ejs') %>